body{

  text-align: center;
  margin:10px ;
  color: white;
}
#header,#section0,#section1,#section2,#section3,#section4,#section5,,#section6,#footer{
  border: 2px solid #385D8A;
}



/*
Cas du Desktop /Laptop
*/
#container {

  width: 100%;
}

#quatresections,#deuxsecions {



  margin-top: 8px;

  text-align: center;
}

#header {
  border: 3px solid #385D8A;
  background-color: #558ed5;
  width: 96%;
  height: 40%;
  margin-left: 2%;
}

#section0 {
  border: 3px solid #385D8A;
  background-color: #c4bd97;
  margin-top: 8px;
  width: 96%;
  margin-left: 2%;
}

#section1 {
  border: 3px solid #385D8A;
  background-color: #c6d9f1;
  width: 22.25%;
  margin-left: 0%;
  display: inline-block;
  height: 50%;
}

#section2 {
  border: 3px solid #385D8A;
  background-color: #e4b7b7;
  width: 22.25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

#section3 {
  border: 3px solid #385D8A;
  background-color: #c3d69b;
  width: 22.25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

#section4 {
  border: 3px solid #385D8A;
  background-color: #fac090;
  width: 22.25%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

#section5 {
  border: 3px solid #385D8A;
  background-color: #00b0f0;
  width: 46.9%;
  margin-left:0%;
  height: 60%;

  margin-top: 8px;
  display: inline-block;
}

#section6 {
  border: 3px solid #385D8A;
  background-color: #00b0f0;
  width: 46.9%;
  margin-left: 2%;

  vertical-align: top;
  margin-top: 8px;
  display: inline-block;
}

#footer {
  border: 3px solid #385D8A;
  background-color: #b3a2c7;
  margin-top: 8px;
  width: 96%;
  margin-left: 2%;
}



@media (max-width: 500px) {
  #footer, #header, #section0 {
    width: 100%;
    display: block;
    margin-top: 8px;
  }

  #section1 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  #section2 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  #section3 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  #section4 {
    display: block;
    width: auto;
    width: 100%;
    margin-top: 8px;
  }

  #section5 {
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-left: 2%;
  }

  #section6 {
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-left: 2%;
  }
}


/*
Tablets
*/
@media (min-width: 501px) and (max-width: 1024px) {
  #section1 {
    width: 46.5%;
    margin-left: 2%;
    margin-top: 0;
  }

  #section2 {
    width: 46.5%;
    margin-left: 2.5%;
  }

  #section3 {
    width: 46.5%;
    margin-left: 2%;
    margin-top: 8px;
  }

  #section4 {
    width: 46.5%;
    margin-left: 2.5%;
    margin-top: 8px;
  }

  #section5 {
    display: block;
    width: 96%;
    margin-left: 2%;


  }

  #section6 {
    margin-top: 1%;
    display: block;
    width: 96%;
  }
}

/*
tÃŠlÃŠphone
*/
