html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;

}
body {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  background-color: white;
  height: 100%;
  width: 100%;
}

#header {
  border: 5px solid #385D8A;
  background-color: #558ed5;
  position: absolute;
  width: 100%;
  height: 16%;
  margin-top: 1%;
  position: absolute;

}

#section0 {
  border: 5px solid #385D8A;
  background-color: #c4bd97;
  width: 100%;
  margin-left: 0;
  height: 18%;
  position: absolute;
  top: 20.5%;
}

#section1 {
  border: 5px solid #385D8A;
  background-color: #c6d9f1;
  width: 22%;
  height: 18%;
  margin-left: 0;
  position: absolute;
  top: 41%;
}

#section2 {
  border: 5px solid #385D8A;
  background-color: #e4b7b7;
  width: 22%;
  height: 18%;
  position: absolute;
  margin-left: 0;
  left: 26%;
  top: 41%;
}

#section3 {
  border: 5px solid #385D8A;
  background-color: #c3d69b;
  width: 22%;
  height: 18%;
  margin-left: 0;
  position: absolute;
  left: 52%;
  top: 41%;
}

#section4 {
  border: 5px solid #385D8A;
  background-color: #fac090;
  width: 22%;
  height: 18%;
  position: absolute;
  left: 78%;
  top: 41%;
}

#section5 {
  border: 5px solid #385D8A;
  background-color: #00b0f0;
  width: 48%;
  height: 18%;
  position: absolute;
  top: 61.5%;
}

#section6 {
  border: 5px solid #385D8A;
  background-color: #00b0f0;
  position: absolute;
  width: 48%;
  height: 18%;
  left: 52%;
  top: 61.5%;
}

#footer {
  border: 5px solid #385D8A;
  background-color: #b3a2c7;
  position: absolute;
  width: 100%;
  height: 17%;
  top: 82%;
}

/*s’affiche sur les téléphones
mobiles sous forme d’une pile qui commence par la zone « en-tête » suivie des sections de 0 à
6 (dans l’ordre des chiffres) puis la zone « pied de page »*/
@media (max-width: 500px) {
  #footer, #header, #section0 {
    width: 100%;
    display: block;
    margin-top: 8px;
  }

  #section1 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  #section2 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  #section3 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  #section4 {
    display: block;
    width: auto;
    width: 100%;
    margin-top: 8px;
  }

  #section5 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }

  #section6 {
    display: block;
    width: 100%;
    margin-top: 8px;
  }
}
